.level-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.level-card {
    background: var(--white);
    padding: 50px 30px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    color: var(--dark-text);
    border: 2px solid transparent;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.level-card i {
    font-size: 3.5rem;
    color: var(--accent-blue);
}

.level-card span {
    font-size: 1.2rem;
    font-weight: 700;
}

.level-card:hover {
    border-color: var(--primary-pink);
    transform: translateY(-10px);
}

.level-card:hover i {
    color: var(--primary-pink);
}

.logo a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo a:visited{
    color: inherit;
}

.logo a:hover {
    letter-spacing: 2px;
    transform: scale(1.05);
}

.logo span {
    color: var(--primary-pink);
    transition: 0.3s;
}

.logo a:hover span {
    filter: brightness(0.9);
}