
.back-link {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--accent-blue);
    text-decoration: none;
}

.back-link:hover {
    color: var(--primary-pink);
}



.page-title {
    margin-bottom: 30px;
    color: var(--dark-text);
}

.semester-title {
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: var(--primary-pink);
}



.table-container {
    margin-bottom: 30px;
    padding: 30px;
    background: var(--white);
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: var(--soft-grey);
    font-size: 0.9rem;
    border-radius: 8px;
}

td {
    border-bottom: 1px solid #ddd;
}



.input-note {
    width: 70px;
    padding: 8px;
    text-align: center;
    border: 2px solid var(--soft-grey);
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
}

.input-note:focus {
    border-color: var(--accent-blue);
}



.btn-calcul {
    width: 100%;
    margin-top: 10px;
    padding: 18px;
    font-size: 1rem;
    font-weight: 700;

    background-color: var(--primary-pink);
    color: var(--dark-text);

    border: none;
    border-radius: 15px;
    cursor: pointer;

    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-calcul:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(247, 203, 202, 0.4);
}